<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

<bean id="laptop" class="com.xworkz.laptop.Laptop"></bean>
<bean id="sanitizer" class="com.xworkz.laptop.Sanitizer"></bean>
<bean id="sanitizer1" class="com.xworkz.laptop.Sanitizer"></bean>
<bean id="tablet" class="com.xworkz.laptop.Tablet"></bean>
<bean id="tablet2" class="com.xworkz.laptop.Tablet"></bean>
<bean id="purifier" class="com.xworkz.laptop.Purifier"></bean>
<bean id="purifier2" class="com.xworkz.laptop.Purifier"></bean>
<bean id="steamer" class="com.xworkz.laptop.Steamer"></bean>
<bean id="steamer2" class="com.xworkz.laptop.Steamer"></bean>
<bean id="tissue" class="com.xworkz.laptop.Tissue"></bean>
<bean id="tissue2" class="com.xworkz.laptop.Tissue"></bean>
<bean id="oximeter" class="com.xworkz.laptop.Oximeter"></bean>
<bean id="oximeter2" class="com.xworkz.laptop.Oximeter"></bean>
<bean id="paint" class="com.xworkz.laptop.Paint"></bean>
<bean id="paint2" class="com.xworkz.laptop.Paint"></bean>
<bean id="mask" class="com.xworkz.laptop.Mask"></bean>
<bean id="mask2" class="com.xworkz.laptop.Mask"></bean>
<bean id="simcard" class="com.xworkz.laptop.Simcard"></bean>
<bean id="simcard2" class="com.xworkz.laptop.Simcard"></bean>
<bean id="juice" class="com.xworkz.laptop.Juice"></bean>
<bean id="juice2" class="com.xworkz.laptop.Juice"></bean>
</beans>