<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

<bean id="laptop" class="com.xworkz.laptop.Laptop"></bean>
<bean id="sanitizer" class="com.xworkz.laptop.Sanitizer"></bean>
<bean id="sanitizer1" class="com.xworkz.laptop.Sanitizer"></bean>
<bean id="tablet" class="com.xworkz.laptop.Tablet"></bean>
<bean id="tablet2" class="com.xworkz.laptop.Tablet"></bean>
<bean id="purifier" class="com.xworkz.laptop.Purifier"></bean>
<bean id="purifier2" class="com.xworkz.laptop.Purifier"></bean>
<bean id="steamer" class="com.xworkz.laptop.Steamer"></bean>
<bean id="steamer2" class="com.xworkz.laptop.Steamer"></bean>
<bean id="tissue" class="com.xworkz.laptop.Tissue"></bean>
<bean id="tissue2" class="com.xworkz.laptop.Tissue"></bean>
<bean id="oximeter" class="com.xworkz.laptop.Oximeter"></bean>
<bean id="oximeter2" class="com.xworkz.laptop.Oximeter"></bean>
<bean id="paint" class="com.xworkz.laptop.Paint"></bean>
<bean id="paint2" class="com.xworkz.laptop.Paint"></bean>
<bean id="mask" class="com.xworkz.laptop.Mask"></bean>
<bean id="mask2" class="com.xworkz.laptop.Mask"></bean>
<bean id="simcard" class="com.xworkz.laptop.Simcard"></bean>
<bean id="simcard2" class="com.xworkz.laptop.Simcard"></bean>
<bean id="juice" class="com.xworkz.laptop.Juice"></bean>
<bean id="juice2" class="com.xworkz.laptop.Juice"></bean>


<bean id="charger2" class="com.xworkz.laptop.Charger">
<constructor-arg value="MI"></constructor-arg>
<constructor-arg value="1200"></constructor-arg>
<property name="color" value="black"></property>
<property name="volt" value="5"></property>
<property name="working" value="true"></property>
</bean>

<bean id="solarWaterHeater" class="com.xworkz.laptop.SolarWaterHeater">
<property name="capacity" value="10"></property>
<property name="brand" value="sun king pro"></property>
<property name="price" value="50000"></property>
<property name="coldWater" value="true"></property>
</bean>

<bean id="toothPaste" class="com.xworkz.laptop.ToothPaste">
<property name="salt" value="true"></property>
</bean>

<bean id="ups" class="com.xworkz.laptop.Ups">
<constructor-arg value="Microtek"></constructor-arg>
<constructor-arg value="Line-interactive"></constructor-arg>
<property name="weight" value="10"></property>
<property name="backupHours" value="12"></property>
<property name="chargeHours" value="3"></property>
</bean>

<bean id="electricCookTop" class="com.xworkz.laptop.ElectricCookTop">
<constructor-arg value="Bajaj Vacco 20000w"></constructor-arg>
<constructor-arg value="black"></constructor-arg>
<constructor-arg value="5"></constructor-arg>
<constructor-arg value="3"></constructor-arg>
<property name="wireLength" value="15"></property>
<property name="customer" value="Pranu"></property>
<property name="warranty" value="6"></property>
</bean>
</beans>