<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="maven_intro.tests.GSearchTest"/>
      <class name="maven_intro.tests.GoggleSearchTest"/>
      <class name="maven_intro.tests.GSearch1Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
